/* *{font-size: 18px;margin: 0;padding: 0;font-family: 宋体;list-style: none;}
a{ text-decoration: none;color:#000}
img{border: 0} */

.abc{color:#123456}
.wid_150{width:150px;}
.font_18{font-size:18px; padding:0px 10px 0px 10px;}
.bg_primary{background:#77CDF0; color:#F0F0F0}
.text_center{text-align:center;}
.pad_t{padding-top:10px;}